{% extends 'blog/index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block header %}
     <h1>Single Post</h1>
{% endblock header %}

{% block content %}
<section id="blog-single-post">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-single-post-thumb">
                         

                         <div class="blog-post-title">
                              <h2>We Help You Create Perfect Modern Design</a></h2>
                         </div>

                         <div class="blog-post-format">
                              <span><a href="#"><img src="{% static 'blog/pic/author-image1.jpg' %}" class="img-responsive img-circle"> Jen Lopez</a></span>
                              <span><i class="fa fa-date"></i> July 22, 2017</span>
                              <span><a href="#"><i class="fa fa-comment-o"></i> 124 Comments</a></span>
                         </div>

                         <div class="blog-post-des">
                              <p>Vivamus euismod tempor interdum. Vivamus non scelerisque ex, et interdum leo. In bibendum lacus vitae felis egestas, at consectetur metus facilisis. Morbi tellus dolor, porta dignissim enim sit amet, dapibus sagittis erat. In blandit elit sit amet dui aliquet congue nec vel quam. Integer id tristique libero.</p>
                              <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </blockquote>
                              <p>Integer vestibulum vitae arcu vel consectetur. Morbi nisl enim, elementum eget enim nec, posuere commodo mi. Proin elementum metus et dolor posuere placerat. Proin in sagittis justo. Nulla tincidunt eu velit elementum accumsan.</p>
                              
                              <div class="blog-post-image">
                              <img src="{% static 'blog/pic/blog-image3.jpg' %}" class="img-responsive" alt="Blog Image 3">
                         </div>
                         
                              <h3>What is Personal Blog Theme?</h3>
                              <p>Nulla tincidunt eu velit elementum accumsan. Vivamus euismod tempor interdum. Vivamus non scelerisque ex, et interdum leo. In bibendum lacus vitae felis egestas, at consectetur metus facilisis. Morbi tellus dolor, porta dignissim enim sit amet, dapibus sagittis erat. In blandit elit sit amet dui aliquet congue nec vel quam. Integer id tristique libero.</p>
                         </div>
                         
                         

                         <div class="blog-single-post-image">
                              <div class="col-md-4 col-sm-4">
                                   <img src="{% static 'blog/pic/blog-image1.jpg' %}" class="img-responsive" alt="Blog Image 1">
                              </div>
                              <div class="col-md-4 col-sm-4">
                                   <img src="{% static 'blog/pic/blog-image2.jpg' %}" class="img-responsive" alt="Blog Image 2">
                              </div>
                              <div class="col-md-4 col-sm-4">
                                   <img src="{% static 'blog/pic/blog-image3.jpg' %}" class="img-responsive" alt="Blog Image 3">
                              </div>
                         </div>
                         <p>Aliquam blandit velit nisi, sed fringilla felis lacinia sed. Integer vitae porta felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus non tristique lacus. Suspendisse ut tortor vitae risus lacinia tristique. Aliquam sed consectetur libero.</p>

                         <div class="blog-author">
                              <div class="media">
                                   <div class="media-object pull-left">
                                        <img src="images/author-image1.jpg" class="img-circle img-responsive" alt="blog">
                                   </div>
                                   <div class="media-body">
                                        <h3 class="media-heading"><a href="#">Jen Lopez ( Designer )</a></h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                   </div>
                              </div>
                         </div>
                         <h2>Site Comments</h2>
                         {% for sitecomment in sitecomments %}
                         <div class="blog-comment">
                              <div class="media-body">
                                   <h3 class="media-heading">{{sitecomment.name}}</h3>
                                   <span>{{sitecomment.date_posted}}</span>
                                   <span>{{sitecomment.email}}</span>
                                   <p>{{sitecomment.comment}}</p>
                              </div
                         </div>
                         {% endfor %}
                         <div class="blog-comment-form">
                              <h3>Leave a Comment</h3>
                                   <form method='POST'>
                                       {% csrf_token %}
                                       <fieldset class='form-group'>
                                           <legend class='border-bottom mb-4'>Write a comment</legend>
                                           {{form|crispy}}
                                       </fieldset>
                                       <div class='form-group'>
                                           <button class='btn btn-outline-info' type='submit'>Comment</button>
                                       </div>
                                   </form>
                         </div>
                    </div>
          </div>
     </div>
</section>
{% endblock content %}
