{% extends 'blog/index.html' %}

{% block header %}
     <h1>About Us</h1>
{% endblock header %}

{% block content %}
     <section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <div class="col-md-4 col-sm-4">
                              <h2>Our Story</h2>
                              <p>Integer eget tortor justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit <strong>Ut enim ad minim veniam, quis nostrud</strong> exercitation ullamco.</p>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <h2>New Design</h2>
                              <p>Quisque vitae felis eros. Suspendisse quis leo molestie, iaculis sapien id, hendrerit augue. Phasellus fermentum.</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut enim ad minim veniam, quis nostrud exercitation.</p>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <h2>HTML CSS</h2>
                              <p>Vivamus non scelerisque ex, et interdum leo. In bibendum lacus vitae felis egestas, at consectetur metus facilisis.</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut enim ad minim veniam, quis nostrud exercitation.</p>
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <h3>Fully Customizable!</h3>
                              <p>Maecenas quis pulvinar neque, non dapibus orci. Integer non suscipit dui. In eu tempor sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras porta lacus ac sagittis imperdiet. Vestibulum eget mattis quam.</p>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita.</p>
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <img src="images/about-image.jpg" class="img-responsive" alt="About Image">
                         </div>

                         <div class="clearfix"></div>

                         <div class="col-md-4 col-sm-4">
                              <img src="images/about-image1.jpg" class="img-responsive" alt="Blog Image">
                              <h3>Section One</h3>
                              <p>Pellentesque lobortis velit mi, sed volutpat enim facilisis at. Maecenas quis pulvinar neque, non dapibus orci.</p>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <img src="images/about-image2.jpg" class="img-responsive" alt="Blog Image">
                              <h3>Section Two</h3>
                              <p>Pellentesque lobortis velit mi, sed volutpat enim facilisis at. Maecenas quis pulvinar neque, non dapibus orci.</p>
                         </div>

                         <div class="col-md-4 col-sm-4">
                              <img src="images/about-image3.jpg" class="img-responsive" alt="Blog Image">
                              <h3>Section Three</h3>
                              <p>Pellentesque lobortis velit mi, sed volutpat enim facilisis at. Maecenas quis pulvinar neque, non dapibus orci.</p>
                         </div>
     
                         <h3>One Column</h3>
                         <p>Fusce finibus ac orci ut feugiat. Duis accumsan dui non augue ullamcorper, at porta elit lacinia. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras at est non quam mattis hendrerit. Fusce purus massa, pretium malesuada eros nec, feugiat iaculis sem.</p>
                    </div>

               </div>
          </div>
     </section>
{% endblock content %}



